# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Saved models
models/*.pth

# Pytorch specific
*.pt
*.pth
*.dylib
*.so
*.dll

# Logs
*.log

# System specific
.DS_Store
Thumbs.db
venv/
